.profile__image-group {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}

.profile__image-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ccc;
}

.profile__image-preview img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-image {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    color: var(--color-primary);
    cursor: pointer;
    font-size: 20px;
}